{{#each posts as |post| }}
<div>
    <h3>
      {{post.title}}
    </h3>
    <h4>
      Posted by {{post.user.name}} on {{format_date post.date_created}}
    </h4>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}


